body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #711a5d;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

label {
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    border: 10px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
